*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
main{
  width: 960px;
  margin: 0 auto;
}
.main-content1{
  padding-top: 50px;
}
.list-item{
  width: 960px;
  height: 50px;
}
.list-item:nth-child(odd) {
  background-color: #C0C0C0;
}
.main-content1 p{
  padding: 20px;
  text-align: left;
  line-height: 10px;
}
.main-content2 {
  margin: 50px 0;
}
.box{
  height:200px;
  width: 30%;
  float:left;
}
.box1{
  margin-right: 5%;
  margin-bottom: 40px;
}
.box2{
  margin-right: 5%;
}
.box-color1{
  background-color: orange;
}
.box-color2{
  background-color: yellow;
}
